@tailwind base;
@tailwind components;
@tailwind utilities;

/* #e99166 */
/* #cb994b */
:root {
  --primary-color: #D295BF;
  --secondary-color: #7E52A0;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.fill-secondary {
  fill: var(--secondary-color);
}

body {
  color: white;
  background-color: #2E004D;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

@keyframes bounce-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-bounce-horizontal {
  animation: bounce-horizontal 1s;
}

@media screen and (max-height: 650px) {
  .top-margin {
  }
  
}